$background-color: antiquewhite;
$box-color: rgb(226, 204, 176);

.Detail {
    border: 5px solid black;
    display: flex;
    background-color: $background-color;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    padding: 5px;
    & .home-button {
        width: 150px;
        border-radius: 10px;
        border: 5px  solid green;
    }
}

.details {
    // border: solid 2px blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detailss {
    border: solid 2px purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    // gap: 5px;
    padding: 5px;
}